.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  margin: 25px 0px;
  
}

body {
  font-size: 15px;
  
}
.profile {
  display: flex;
  align-items: center;
  background-color: black;
  border-radius: 35px;
  color: white;
  padding: 10px 20px;
  justify-content: center;
  cursor: pointer;
}
.buttons button {
  padding: 0.5rem;
  border-radius: 25px;
  width: 125px;
  border: none;
  background-color: transparent;
}
button:hover,
button:focus {
  background-color: #fc8a06;
  color: white;
  border: none;
}
