.hero {
  background-color: #fbfbfb;
}
.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.hero-left {
  width: 30%;
  padding-left: 1.5rem;
}

.hero-left p {
  color: #666;
  margin-bottom: 10px;
}

.hero-left h1 {
  font-size: 2.8rem;
  font-weight: 900;
  margin-bottom: 20px;
  line-height: 1.2;
}

.hero-left h1 span {
  color: orange;
}

.hero-search {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  position: relative;
}

.hero-search input {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 25px;
  width: 60%;
  font-size: 1rem;
}

.hero-search button {
  padding: 12px 25px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  position: absolute;
  right: 5rem;
  width: 25%;
}

.hero-right {
  width: 60%;
  overflow: hidden;
}

.hero-image {
  width: 100%;
  object-fit: contain;
}
.hero-left p {
  color: #03081f;
}

@media screen and (max-width: 768px) {
  .hero-right {
    display: none;
  }
  .hero-left {
    width: 100%;
    padding-left: 0px;
    padding: 1rem;
    justify-content: center;
    text-align: center;
  }
  .hero-left p {
    color: white;
  }
  .hero-container {
    justify-content: center;
    background-color: #03081f;
    color: white;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  .hero-search {
    justify-content: center;
  }
  .hero-search button {
    right: 3rem;
  }
}
