.map-container{
    margin: 5rem 0rem;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3); /* Right and bottom shadow */
    position: relative;
}
.custom-popup .leaflet-popup-content-wrapper {
    width: 250px; /* Increase width */
    height: auto; /* Adjust height based on content */
    padding: 5px; /* Add some padding */
    font-size: 16px; /* Adjust text size */
  }

  .overlay-container {
    position: absolute; /* Position it on top of the map */
    top: 12%; /* Distance from the top of the map */
    left: 15%; /* Distance from the left of the map */
    background-color:#03081F; /* Semi-transparent background */
    padding: 25px;
    border-radius: 8px;
    z-index: 1000;
    width: 20%;
  }
  
  .overlay-content {
    color: white;
    padding: 1rem;
  }

  @media (max-width:768px) {
    .map-container{
      margin: 2rem 2px;
      margin-bottom: 5rem;
    }
    .overlay-container {
      width: 88% !important;
      left: 2.5% !important;
      border-radius: 30px !important;
      bottom: 0px;
      top: auto !important;
      z-index: 1000;
      padding: 2px !important;
      padding-left: 20px !important;
    }
  }